
.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 420px;
    margin: auto;
    padding: 20px;
    border: none;
    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0;
}

.form-label {
    flex: 1;
    text-align: right;
    margin-right: 10px;
    font-size: 16px;
}

.input-field {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 5px 5px 0;
    flex: 2;
}

.rating-field {
    flex: 3;
    margin: 5px 5px 0;
}

.comment-field {
    padding: 10px;
    font-size: 16px;
    height: 150px;
    resize: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 5px 5px 0;
    flex: 3;
}

.description-field {
    padding: 10px;
    font-size: 16px;
    height: 150px;
    resize: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 5px 5px 0;
}

.button {
    padding: 10px;
    border: 1px groove #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 10px 0;
}

.button:hover {
    opacity: 0.8;
    background-color: #ccc;
    color: white;
}

.rating-value {
    font-size: 16px;
    margin: 5px 5px 0;
}