<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: html_head"></head>
<body>
<h2>Produkty</h2>
<section>

    <form action="#" th:action="@{/product-form-process}"
          th:object="${product}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{productName}" />
        <textarea type="text" th:field="*{description}"></textarea>
        <input type="file" th:field="*{image}" />
        <input type="submit" />
    </form>

</section>
</body>
</html>