<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: html_head"></head>
<body>
<h2>Nakupni kosik</h2>
<div th:replace="fragments/navigation :: navigation_bar"></div>
<section>

    <div  class="product-list" th:each="item : ${shoppingCart.entrySet()}">
        <h3 th:text="${item.getKey().getProductName()}"></h3>
        <span class="item-amount" th:text="${item.getValue()}"></span>
        <a class="add-to-cart-button" th:href="@{'/shopping-cart-remove/' + ${item.getKey().getId()}}">-</a>
        <a class="add-to-cart-button" th:href="@{'/shopping-cart-add/' + ${item.getKey().getId()}}">+</a>
    </div>

</section>
<section>
    <a th:if="${shoppingCart.entrySet().size()} > 0" th:href="@{'/checkout'}">Potvrdit objednávku</a>
</section>
</body>
</html>